.screenTitle{
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: bold;
}

.screenContainer{
    margin-bottom: 65px;
}

.addMovieBtn{
    position: absolute; 
    left: 10%;
    background: #2a7fff;
    border: none;
}

.addMovieBtn:hover{
    background: #3d8bff;
}

.addMovieBtn:focus{
    background: #3d8bff;
}

.selectContainer{
    margin: 0px;
    width: 100%;
}

.selectStyle{
    max-width: 200px; 
    position: absolute;
    right: 10%;
}

.cardsContainer{
    margin-top: 100px;
}

@media (max-width: 768px){
    .selectStyle{
        max-width: 150px; 
        position: absolute;
        right: 10%; 
    }

    .screenTitle{
        margin-top: 5px;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 23px;
    }
}